/* Selecting the main page header and making it nice */
.pageHeader {
	display: flex;
	justify-content: space-between;
	padding: 5px 0 5px 0;
	align-items: center;
	max-width: 650px;
	margin: auto;
	align-items: stretch;
}

.tournamentInfo {
	text-align: center;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	flex-grow: 1;
}

.tournamentInfo p {
	font-style: oblique;
	margin: 0;
}

.tournamentInfo h1 {
	margin: 0;
}

.navbar {
	margin-bottom:0px !important;
	min-height:35px !important;
	max-width: 450px;
	margin: 0 auto;
	font-family: Calibri;
}

.navbar-nav > li > a, .navbar-brand {
    padding-top:7px !important; 
    padding-bottom:0 !important;
}
.navbar-nav {
	margin-bottom: 5px;
}

.navbar-brand {
	height: auto;
	width: 100%;
	text-align: center;
	display: inline-block;
}

.navbar-header {
	width: 100%;
}

.navbar-collapse {
	padding-left: 0;
	padding-right: 0;
	overflow-y: hidden !important;
}

td.u {
	white-space: normal !important;
}

@media (max-width: 767px) {
	.nav { margin: 10px 0; }
	.nav > li > a  {
		margin: 0 15px;
	}
	nav.navbar { width: 90%; max-width: 400px; margin: auto; }
	div.image { display: none }
	.navbar-brand { width: 80% }
	.dropdown-menu > li > a { margin-left: 30px; }
}

@media (max-width: 579px) {
	nav.navbar { margin: 5px; }
}


/* MKB 2017 fixes */
.tournamentSponsorImage  {
	height: 50px;
	margin-top: 10px
}

.tournamentSponsorLink:hover {
	text-decoration:none;
}
