@import url(http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext);
@import url(//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

/* Minor fixes */
table {
  margin: 0 auto;
  border-collapse: separate;
}

div.image a:hover {
  text-decoration: none;
  background-color: transparent; 
}



/* No print  */
@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
  
  .navbar, .image, .f, body > center > table > tbody {
        display: none !important;
    }

    /* Fixing printing url in firefox */
    a:link:after,
    a:visited:after {
        content: "" !important;
    }
}

